<!DOCTYPE html>
<head>
    <script>
        async function postData() {
            const data = document.getElementsByName("data");
            let  post_data = {};

            for (var i = 0; i < data.length; i++) {
                var key = data[i].className;
                var value = data[i].value.trim();
                post_data[key] = value;
            }

            const response = await fetch('/admin/books/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(post_data),
            });

            if (response.ok) {
                alert("Book added");
            }
            else {
                alert("Error");
            }

        }
    </script>
</head>
<body style="text-align: center;">
    <h1>
        Admin add book
    </h1>
    <div>   
        <label>Title:           </label>
        <input name="data" type="text" class="title"><br><br>
        <label>Writer:          </label>
        <input name="data" type="text" class="writer"><br><br>
        <label>Publisher:       </label>
        <input name="data" type="text" class="publisher"><br><br>
        <label>Amount:          </label>
        <input name="data" type="text" class="amount"><br><br>
        <label>Category:        </label>
        <input name="data" type="text" class="field"><br><br>
        <label>Available (0/1): </label>
        <input name="data" type="text" class="available"><br><br>
        <button onclick="postData()">Submit</button>
    </div>
</body>