<!DOCTYPE html>
<body style="text-align: center;">
    <h1>
        Apply books
    </h1>
    <table>
        <tr>
            {% for column in ["student_number", "title", "publisher", "writer", "reason", "confirm"] %}
            <th style="width: 10%;">
                {{column}}
            </th>
            {% endfor %}
        </tr>
        {% for row in data%}
        <tr>
            {% for data in row %}
            <td>
                {{data}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>