<!DOCTYPE html>
<head>

</head>
<body style="text-align: center;">
    <h1>
        Admin panel
    </h1>
    <div>
        <button onclick="location.href='/admin/books'">Books</button>
        <button onclick="location.href='/admin/books/modify'">Modify Books</button>
        <button onclick="location.href='/admin/books/add'">Add Books</button>
        <button onclick="location.href='/admin/category'">Category</button>
        <button onclick="location.href='/admin/apply'">User applys</button>
        <button onclick="location.href='/admin/checkout'">User checkout</button>
        <button onclick="location.href='/admin/logs'">Logs</button>
        <button onclick="location.href='/admin/books/upload'">File upload</button>
    </div>
</body>
<footer style="position: fixed; bottom: 0; width: 100%; align-items: cetner;">
    <div style="margin: 20px;">
        <h4></h4>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/signout'">Sign-out</button>
    </div>
</footer>