<!DOCTYPE html>
<body style="text-align: center;">
    <h1>
        Admin logs
    </h1>
    <table>
        <tr>
            {% for column in ["timestamp", "type", "student", "title"] %}
            <th style="width: 10%;">
                {{column}}
            </th>
            {% endfor %}
        </tr>
        {% for row in data%}
        <tr>
            {% for (key, value) in row.items() %}
            <td>
                {{value}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>