<!DOCTYPE html>
<body style="text-align: center;">
    <h1>
        Search Result
    </h1>
    <table>
        <tr>
            {% for column in ["available", "title", "writer", "publisher", "amount", "category"] %}
            <th style="width: 10%;">
                {{column}}
            </th>
            {% endfor %}
        </tr>
        {% for row in data%}
        <tr>
            {% for data in row %}
            <td>
                {{data}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>