<!DOCTYPE html>
<head>
    <script>
        async function submit() {
            let post_data = {
                "student_id": document.getElementById("student_id").value,
                "password": document.getElementById("password").value,
            }

            const response = await fetch('/signin', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(post_data),
            });

            if (response.ok) {
                alert("Success");
            }
            else if (response.status === 403) {
                alert("Incorrect");
            }
            else {
                alert("Error");
            }
        }
    </script>
</head>
<body style="text-align: center;">
    <h1>Sign-in</h1>
    <label>Student number:</label>
    <input type="text" id="student_id"><br><br>
    <label>Password:</label>
    <input type="text" id="password"><br><br>
    <button onclick="submit()">Submit</button>
</body>
<footer style="position: fixed; bottom: 0; width: 100%; align-items: cetner;">
    <div style="margin: 20px;">
        <h4></h4>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/signout'">Sign-out</button>
    </div>
</footer>