<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Data</title>
</head>
<body style="text-align: center">
    <h1>BOOK CHECKOUT LIST</h1>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr>
                <th>STUDENT_NUMBER</th>
                <th>TITLE</th>
                <th>RETURN</th>
                <th>TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                {% for column in row %}
                <td style="width: 10%;">{{ column }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<footer style="position: fixed; bottom: 0; width: 100%; align-items: cetner;">
    <div style="margin: 20px;">
        <h4></h4>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/signout'">Sign-out</button>
    </div>
</footer>
</html>