<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>my profile</title>
</head>
<body style="text-align: center">
    <h1>My Profile</h1>
    <button onclick="location.href='/profile/logs'">view logs</button>
    <button onclick="location.href='/profile/book_apply_list'">Applied books</button>
    <div>
        <h2>Profile Information</h2>
        <label>Name:</label><label> {{ rows[0] }}</label><br></br>
        <label>ID:</label><label id="id"> {{ rows[1] }}</label><br></br>
        <label>Role:</plabel><label> {{ rows[2] }}</label><br></br>
    </div>
</body>
</html>
<footer style="position: fixed; bottom: 0; width: 100%; align-items: cetner;">
    <div style="margin: 20px;">
        <h4></h4>
        <button onclick="location.href='/'">Home</button>
        <button onclick="location.href='/signout'">Sign-out</button>
    </div>
</footer>
